.edit-form {
  width: 100%;

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    padding: $space-2 0 $space-1;

    .base-button {
      width: calc((100% - #{$space-1}) / 2);
    }
  }
}