.square-button {
  display: block;
  background: $primary--light;
  padding: $space-0;
  border-radius: 4px;
  @extend .ui-shadow;
  cursor: pointer;

  &__icon {
    max-width: 100%;
    max-height: 100%;
    filter: invert(1);
  }

  &--danger {
    background: $button-danger;
  }
}