.square-button {
  display: block;
  background: $primary--light;
  padding: $space-0;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(black, 0.5);
  box-shadow: 1px 1px 5px rgba(black, 0.7);
  transition: box-shadow 0.5s;

  &__icon{
    max-width: 100%;
    max-height: 100%;
    filter: invert(1);
  }
}