.intern-photo {
  height: 60%;
  width: 60%;
  max-width: 200px;

  &__image {
    height: 100%;
    width: 100%;
  }

  &--rounded {
    height: $space-7;
    min-height: $space-7;
    width: $space-7;
    min-width: $space-7;
    @include media-m {
      height: $space-9;
      width: $space-9;
    }
    

    .intern-photo__image {
      border-radius: 50%;
    }
  }
}