.base-button {
  @extend .ui-shadow;
  height: $space-4;
  background: transparent;
  border: 2px solid $primary--darker;   
  border-radius: 4px;
  color: $primary--darker;
  padding: 0 $space-1;
  line-height: $space-4;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;

  &--danger {
    border: 2px solid $button-danger;
    background: $button-danger;
    color: $white;
    width: 100%;
  }

  &--primary {
    border: 2px solid $button-primary;
    background: $button-primary;
    color: $white;
  }

  &--disabled {
    opacity: 0.5;
    background: $dark-gray;
    border: $dark-gray;
    cursor: not-allowed;
    pointer-events: none;
  }
}