.base-input {
  width: 100%;
  margin-bottom: $space-1;
  position: relative;

  &__input {
    width: 100%;
    height: $space-3;
    line-height: $space-3;
    font-size: 14px;
    color: $dark-gray;
    border: 1px solid $text-gray;
    border-radius: calc(#{$space-3} / 2);
    padding-left: $space-0;
    @extend .ui-shadow;

    &:focus {
      border: 1px solid $primary--darker;
    }
  }

  &__label {
    display: block;
    text-align: left;
    padding: $space-0 0;
    font-size: 12px;
    color: $text-gray;
  }

  &__validation-message {
    position: absolute;
    bottom: -18px;
    font-size: 12px;
    color: $button-danger;
  }
}